.forms {
  border-radius: 20px;
  background: #f5f5f5;
  /* box-shadow: 27px 27px 54px #d0d0d0, -27px -27px 54px #ffffff; */
}
.image-container {
  width: 50%;
  height: 100%;
  position: relative;
}
.images {
  height: 100vh !important;
  width: 100vw !important;
}
.trackX {
  display: none !important;
}

.neumorphismForForms {
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow: 34px 34px 67px #cacaca, -34px -34px 67px #f6f6f6;
}

/* Glass */
.glassMorphism {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.33);
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
}
/* Glass */
.background {
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/002/623/464/non_2x/concept-of-shopping-online-with-smart-phone-on-blue-sky-background-vector.jpg");
  background-repeat: no-repeat;
   background-size: cover; */
  height: 100%;
  width: 100vw; 
  background-color: #1a76d2;
}
.colorBackground {
  background-image: url("https://img.freepik.com/free-vector/online-shopping-store-with-mobile-shopping-cart-mail-clouds-realistic-style-vector-illustration_548887-136.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
}

.personalKycBackground {
  /* background-image: url("https://img.freepik.com/free-vector/online-shopping-store-with-mobile-shopping-cart-mail-clouds-realistic-style-vector-illustration_548887-136.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover; */
  background: #1a76d2;
}
.businessKycBackground {
  background-image: url("https://www.fashionpluslace.com/asset/images/categories/polyester-patches1617626773.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.customerRegister {
  /* background-image: url("https://blog.smile.io/content/images/2020/09/E-Commerce-Customer-Experience-Top-Trends-to-Watch-Out-For.png");
  background-repeat: no-repeat;
  background-size: cover; */
  background: #1a76d2;
}

.neomorphismBackground {
  border-radius: 21px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
