@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

.display-flex {
  display: flex;
}

.display-flex-jc-center {
  display: flex;
  justify-content: center;
}

.display-flex-start {
  display: flex;
  justify-content: flex-start;
}

.display-flex-end {
  display: flex;
  justify-content: flex-end;
}

.display-flex-sb {
  display: flex;
  justify-content: space-between;
}

.display-grid-two {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.data-grid-header-classname {
  background-color: #1a76d2;
  color: #ffffff;

  .css-sx4x5h-MuiTableCell-root{
    color: #ffffff;
  }
}

.text-blue {
  color: #1a76d2;
}

.text-underlined {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.no-padding-margin {
  padding: 0px;
  margin: 0px;
}

.border-radius {
  border-radius: 16px;
}

.detail-view-kyc {
  display: grid;
  grid-template-columns: 60% 39%;
  gap: 1%;
}

.kyc-view-box {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 19px;
  margin-bottom: 20px;
}

.kyc-view-sub-box {
  padding: 10px 40px;
}

.display-images-details {
  box-shadow: 0px 2px 14px rgb(0 0 0 / 33%);
  margin-bottom: 20px;
}
