// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,300;1,500&display=swap");

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  border-radius: 4px !important;
}

.glass {
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.8px);
  -webkit-backdrop-filter: blur(1.8px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}

.forms {
  border-radius: 23px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 50px 50px 100px #c3c3c3, -50px -50px 100px #fdfdfd;
}
ul {
  list-style-type: none;
}

.card-wrapper{
  border-radius: 16px;
  background-color: #f9f9f9;
  box-shadow: 2px 3px 16px #00000015;
  padding: 1rem 2rem;
  min-height: 70vh;
  // display: flex;
  // flex-direction: column;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.outlined_input_select {
  height: 41px;
}

.display-image-personal-kyc {
  display: flex;
}

.file-upload-button-kyc {
  &:hover {
    background-color: #c3c3c3;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-start{
  display: flex;
align-items: flex-start;
}

.w-full{
  width: 100%;
}

.h-full{
height: 100%;
}

.feature-icon {
  .css-i4bv87-MuiSvgIcon-root{
    height: 3rem;
    width: 3rem;
  }
img{
  height: 3rem !important;
  width: 3rem !important;
}
}

.listing-item-postalcode {
  height: 200px;
  overflow-y: scroll;
  margin-top: 25px !important;
  position: absolute !important;
  border-radius: 12px;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.deleteIcon {
  z-index: 999;
}

.deleteIcon:hover {
  opacity: 1;
  transition: 0.6 all ease-in-out;
}

.setIcon {
  z-index: -1;
}

.forms-screen {
  border-radius: 20px;
  background: #f5f5f5;
}

.nav-selected-menu {
  background-color: #1a76d2 !important;
  color: #ffffff !important;

  .MuiListItemIcon-root {
    color: #ffffff;
  }

  padding: 8px 8px 8px 8px !important;
  border-radius: 9px !important;
  width: 90%;
  margin: auto !important;
  margin-bottom: 2px !important;
}

.nav-unselected-menu {
  padding: 8px 8px 8px 8px !important;
  border-radius: 9px !important;
  width: 90%;
  margin: auto !important;
  margin-bottom: 2px !important;
}

.kyc-success-status {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

///////////////popover notifications /////////////////////
.popover-notification {
  width: 100%;
  font-weight: 500;
  min-width: 300px;

  .MuiList-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .popover-notification-header {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    padding-left: 19px;
    padding-right: 15px;
    height: 42px;

    .popover-notification-header-notification {
      font-style: normal;
      font-size: 14px;
      color: #232323;
    }

    .popover-notification-header-seemore {
      font-size: 12px;
      color: #777777;
      cursor: pointer;
    }
  }

  .popover-box-notification-content {
    display: inline-block;
    position: relative;
    color: #030c11;
    font-weight: 700;
  }

  .popover-box-notification-content:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .popover-box-notification-content:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .popover-box-notification-time {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    margin: 10px 0px 3px 0px;
  }

  .popover-notification-box {
    border-bottom: 0.5px solid #dcd7d7;
  }

  .popover-notification-box-width {
    width: 450px;
  }

  .popover-notification-rounded-auto-user {
    font-size: 3rem;
  }

  .popover-notification-button {
    width: 77.61px;
    height: 31.35px;
  }
}

// /profile css;
//
///////////////////////////////shop section css///////////////////////////////////////////
.shop-body {
  padding: 20px;

  .shop-body-search-form {
    border: 1px solid #2d2d2d;
    border-radius: 15px !important;
    background-color: transparent !important;

    .MuiOutlinedInput-notchedOutline {
      border: none !important;
    }
  }

  .shop-body-search-form-header {
    font-style: normal;
    font-size: 36px;
    line-height: 44px;
  }

  .shop-body-add-button {
    font-size: 12px;
    border-radius: 9px;
  }

  .shop-body-add-button-branch {
    padding: 10px;
    height: 32px;
    font-size: 11px;
    border-radius: 9px;
  }

  .shop-body-add-icon-branch {
    height: 1.1rem !important;
  }

  .shop-body-details-image {
    margin-top: 30px;
  }
}

.shop-body-add-icon {
  height: 1.2rem !important;
  margin-right: 7px !important;
}

.shop-body-table-css {
  cursor: pointer;

  &:hover {
    background-color: rgb(247, 247, 247) !important;
  }
}

.box-kyc-multiple-step-form {
  padding: 50px 150px;
}

@media only screen and (min-width: 600px) {
  .box-kyc-multiple-step-form {
    padding: 15px 15px;
  }
}

@media only screen and (min-width: 992px) {
  .box-kyc-multiple-step-form {
    padding: 50px 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .box-kyc-multiple-step-form {
    padding: 50px 150px;
  }
}

.finish-line-css {
  margin-top: -41.5px;
  margin-right: 90px;
}

.shop-body-shop {
  background-color: #ffffff;
  height: 340px;

  .shop-body-branch-section {
    margin-left: 10px;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;

    .display-card-branch {
      display: inline-block;
    }
  }
}

.shop-table-header-css, .table-head {
  background-color: #1a76d2 !important;
  color: #ffffff !important;
  font-weight: 600 !important;

  th{
    color: #fff;
  }
  th:not(:first-child) {
   min-width: 135px;
  padding: 12px 14px;
  }
}

.shop-body-card-image-big {
  height: 160px !important;
}

.shop-body-card-image-small {
  height: 125px !important;
}

.shop-view-details-tab {
  background: #f9f9f9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.22);
  border-radius: 19px;

  .shop-view-details-tab-individual button {
    width: 20%;
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #2d2d2d;
  }

  .shop-view-details-tab-title {
    left: 453.31px;
    top: 399.97px;
    font-size: 17px;
    line-height: 20px;
    padding-left: 30px;
  }

  .shop-view-details-tab-data {
    color: #3d3c3c;
    font-weight: 500;
  }
}

.add-branch-form {
  background-color: #ffffff;
  border-radius: 9px;

  .add-branch-form-header {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
  }

  .add-branch-form-box {
    // padding: "10px";
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.33);
    border-radius: 9px;

    .add-branch-form-box-sub {
      padding: 20px;
    }

    .second-box {
      margin-top: 20px;
    }
  }

  .MuiStepper-horizontal {
    padding: 0px 30px 0px 30px !important;
  }
}

.image-view-shop-details {
  height: 150px !important;
  width: 150px !important;
}

.display-images-shop {
  display: flex;
  gap: 6%;
}

.display-images-shop-gallery-view {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10%;
}

///////////////////shop section css completed/////////////////////

///////////////////staff section////////////
.staff-view {
  margin: 20px;
  .staff-view-title {
    font-size: 28px;
    line-height: 35px;
  }
  .staff-view-search-add {
    margin-top: 17px;
    .staff-view-search {
      height: 40px;
      background: #f0f0f0;
      .MuiOutlinedInput-notchedOutline {
        border: none !important;
      }
    }
  }

  .staff-view-table {
    margin-top: 30px;
  }

  .staff-view-tableview {
    background-color: #f9f9f9;
    padding: 40px 30px 20px 20px;
    box-shadow: 0px 4px 20px 0px #00000038;
    border-radius: 1rem;
  }

  .staff-view-searchstaff {
    background-color: #ffffff;
    padding: 40px 30px 20px 20px;
  }
}

.staff-invitation-accept-reject-box {
  background-color: #ffffff;
  // border: 3px solid #2f2f2e;
  border-radius: 19px;
  box-shadow: 0px 2px 14px rgb(0 0 0 / 33%);
  padding: 30px;
  margin-top: 25%;
}

@media only screen and (min-width: 1200px) {
  .staff-invitation-accept-reject-box {
    background-color: #ffffff;
    // border: 3px solid #2f2f2e;
    border-radius: 19px;
    box-shadow: 0px 2px 14px rgb(0 0 0 / 33%);
    padding: 30px;
    margin-top: 15%;
  }
}

///////////profile view /////////////
.profile-view {
  padding: 20px 80px 0px 50px;
  background: #f9f9f9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.22);
  border-radius: 19px;

  .profile-view-header {
    font-weight: 600;
    font-size: 21px;
    line-height: 26px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .profile-view-body {
    margin-top: 5px;
  }

  .profile-view-field {
    width: 70%;

    .profile-view-body-field {
      margin-bottom: 12px;

      .profile-view-fieldValue {
        width: 60%;
        color: #777777;
      }

      .profile-view-fieldName {
        width: 40%;
      }
    }
  }

  .profile-view-images {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
  }

  .myprofieShowDocs {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    flex: 1;
    gap: "20px";
    flex-wrap: wrap;
  }
}

.image-view-class {
  &:hover {
    opacity: 0.7;
  }
}

.image-view {
  // max-height: 100%;
  max-width: 100%;
  height: 90%;
}

@media only screen and (min-width: 1200px) {
  .image-view {
    max-width: 800px;
  }
}

.image-preview-next-image {
  background-size: contain;
}

.display-default-image {
  width: 70% !important;
}

.table-image-css {
  width: 80px !important;
}

.see-more-css {
  color: #4a96ca;
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

// /profile css;
.kyc-view-box {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 19px;
  margin-bottom: 20px;
}

.kyc-view-sub-box {
  padding: 10px 40px;
  width: 100%;
  gap: 10px;

  .left {
    width: 50%;
    background-color: #ffffff;
  }

  .right {
    width: 50%;
    display: flex;
    height: 400px;
  }
}

.myProfileImage {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

@media only screen and (max-width: 600px) {
  .kyc-view-sub-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .myProfileImage {
    width: 100%;
    height: 100%;
  }

  .kyc-seperateMid {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .upper-left {
      width: 100%;
    }

    .upper-right {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .kyc-view-sub-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }
  }

  .kyc-seperateMid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    .upper-left {
      width: 100%;
      flex-grow: grow;
      flex: 1;
      background-color: #ffffff;
      position: relative;
    }

    .upper-right {
      width: 100%;
      flex-grow: grow;
    }
  }
}

.seperateMid {
  width: 100%;
  margin-bottom: 20px;

  .kyc-seperateMid {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;

    .upper-left {
      width: 100%;
      padding: 10px 40px;
      border-radius: 20px;
      background-color: #ffffff;
    }

    .upper-right {
      width: 100%;
      height: 430px;
      background-color: #ffffff;
      overflow: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;

      .otherRight {
        padding: 20px 0px !important;
        display: grid !important;
        place-items: center !important;
        width: 90%;
        height: 100%;
      }

      .forImages {
        display: grid;
        grid-template-columns: auto auto;
        padding: 30px 0;
        grid-gap: 10px;
        margin-top: 30px;
        place-items: center;
      }
    }
  }
}

////change passwword view

.change-password-view {
  padding: 15px 20px 10px 20px;
  background-color: #ffffff;
  height: 50%;
  // .change-password-field-view{
  //   wi
  // }
}

.mainBranch {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.branch {
  width: 20%;
  height: 30%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.branch:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.branch-img {
  width: 80%;
  height: 20%;
  object-fit: contain;
  margin-top: 10px;
}

.bottom-branch {
  width: 80%;
  height: 20%;
  line-height: 6%;
  display: flex;
  flex-direction: column;
}

.shop-branch-status {
  margin: 20px 36px;
  width: 100px;
  height: 27px;
  left: 432.88px;
  top: 364.59px;
  // background: #ff0000;
  opacity: 0.7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000 !important;
  outline: none;
  border: none;
}

.shop-branch-statusVerified {
  margin: 20px 36px;
  width: 100px;
  height: 27px;
  left: 432.88px;
  top: 364.59px;
  background: #27a850;
  opacity: 0.7;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000 !important;
  outline: none;
  border: none;
}

.textStatus {
  color: #000000 !important;
}

.textStatus {
  color: #000000 !important;
}

///collpase bar dashboard
.collapse-bar-open {
  padding-left: 32px;
  padding-right: 16px;
  border-radius: 9px;
}

///top view details page
.top-view-header {
  font-weight: 500;
  font-size: 2.24rem !important;
  line-height: 38px;
}

.search-form-circle {
  border: 1px solid #36363613;
  border-radius: 4px !important;
  background-color: #eee !important;
  box-shadow: none !important;

  .MuiOutlinedInput-notchedOutline {
    border: none !important;
  }

  input {
    padding: 0;
    margin: 0;
  }
}

////master product
.form-view-multistep-form {
  background-color: white;

  .master-product-form-header {
    font-size: 18px;
    font-weight: 1000;
    text-decoration: underline;
    margin-bottom: 2rem;
  }
}

///image add view box
.image-add-view-box {
  border: 1.5px solid #b9b5b5;
  border-radius: 10px;
  .image-add-view-box-view {
    .image-add-view-box-images {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    .image-add-view-box-individual-image {
      .image-add-view-box-images-closeicon {
        position: absolute;
        cursor: pointer;
        right: -5%;
      }

      &:hover {
        img {
          opacity: 0.7;
        }
      }
    }
  }

  .image-add-view-box-add {
    margin-top: 10px;
  }
}

///model css
.modal-field-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #1c1a1a;
}

.myImageView {
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .img-profile {
    width: "100%";
  }
}

//KYC DETAILS//
.kyc-view-box {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 19px;
  margin-bottom: 20px;
}

.display-images-details {
  box-shadow: 0px 2px 14px rgb(0 0 0 / 33%);
  margin-bottom: 20px;
}

.kyc-view-sub-box {
  padding: 10px 40px;
}

.mainImageDiv {
  width: 100%;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.display-images {
  overflow: auto;
  white-space: nowrap;
  // overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;

  .display-images-single {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    max-width: 68%;
    height: 100%;
    object-fit: contain;
    margin: 0px 5px;
    margin-top: 3%;
  }
}

.singePdf {
  min-width: 80%;
  display: flex;
  flex-direction: column;

  .pdfImage {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex: 1;
    order: 1;
  }
}

.kyc-view-button {
  // margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px 40px 0px;
}

.detail-view-kyc {
  display: grid;
  grid-template-columns: 60% 39%;
  gap: 1%;
}

.display-flex {
  display: flex;
}

.progessBar {
  z-index: -1;
}

.optionalNumberClass {
  width: 30%;
}

.optionalNumberClass:last-child {
  width: 34%;
}

.mynationality {
  display: none;
}

.display-flex-sb {
  @include for-phone-only {
    display: "flex";
    flex-direction: "column";
    gap: 0;
    justify-content: flex-start;
    width: "100%";
  }

  @include for-tablet-portrait-up {
    display: "flex";
    flex-direction: "column";
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }
}
.css-y3qk4p-MuiPaper-root-MuiAccordion-root:before,
.css-1t3a6l8-MuiPaper-root-MuiAccordion-root:before,
.css-11ca6nc-MuiPaper-root-MuiAccordion-root:before {
  display: none !important;
}
.css-y3qk4p-MuiPaper-root-MuiAccordion-root:first-of-type,
.css-y3qk4p-MuiPaper-root-MuiAccordion-root:last-of-type,
.css-11ca6nc-MuiPaper-root-MuiAccordion-root:first-of-type,
.css-11ca6nc-MuiPaper-root-MuiAccordion-root:last-of-type,
.css-1t3a6l8-MuiPaper-root-MuiAccordion-root:first-of-type,
.css-1t3a6l8-MuiPaper-root-MuiAccordion-root:last-of-type {
  border-radius: 1rem !important;
}

.css-eglki6-MuiLinearProgress-root {
  height: 13px !important;
  min-width: 200px;
  background-color: transparent !important;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #ffba49 !important;
}

.css-sgoict-MuiCardHeader-action {
  all: unset !important;
}

.css-1wceoie-MuiPaper-root-MuiCard-root , .rating_card{
  max-width: 820px !important;
  margin: auto;
  border-radius: 1.4rem !important;
  width: 100%;
}

.css-18u0up3-MuiTypography-root {
  font-weight: 900 !important;
  font-size: 1.1rem !important;
}

.user_profile img {
  object-fit: cover;
}

.iconImage {
  object-fit: cover !important;
}

.product_table_css__K8OVt tr:nth-child(even) {
  background-color: transparent !important;
}

.addColorField {
  display: flex;
  flex-direction: column;

  .input_field {
    width: 70% !important;
    display: flex;
  }
}

.MuiChip-root {
  width: fit-content;
}

.imageBox .image-add-view-box {
  min-width: 300px;
  display: flex;
  padding: 0;
  border: none;
  align-items: center;
  gap: 5px;
}

.image-add-view-box-individual-image img {
  border-radius: 7px;
  max-height: 60px;
  width: 80px;
  object-fit: cover;
}

.image-add-view-box-images-closeicon {
  background-color: #efefef;
  border-radius: 50%;
  font-size: 1rem !important;
  padding: 1px;
}
.varDate {
  input{
    font-size: 14px !important;
    padding: 8px 0px 8px 8px;
    min-width: 85px;
  }
}

@media only screen and (max-width: 600px) {
  .css-1191obr-MuiPaper-root-MuiAppBar-root {
    width: 100% !important;
  }
  .css-1hsz34s-MuiDrawer-docked {
    position: absolute;
    display: none;
  }
}

.css-18467a {
  display: none;
}

.blueButton{
  color: #fff;
  background-color: #1976d2;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  font-size: 14px;
  font-family: "Quicksand",sans-serif;
  font-weight: bold;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.05s ease-in;

  &:hover{
    background-color: #1f80e0;
  }
}

.custom-select{
  font-family: Poppins;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4375em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 4px;
  padding-right: 14px;
}

.smallCircle{
  background-color: #F3B53D;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.verticalLine{
  height: 44px;
  width: 1px;
  background-color: #d8d8d8;
}

.css-wtlci2-MuiAvatarGroup-root {
  display: flex;
  flex-direction: row-reverse;
  align-items: self-start;
  justify-content: flex-end;
}

.react-calendar {
  width: 100% !important;
border: none !important;
}

.css-8yw7aw-MuiAvatar-root-MuiAvatarGroup-avatar{
  background-color: #fff !important;
  color: #5E5873 !important;
  border: none !important;
  font-size: 12px !important;
}

.userStatusTable td{
  padding: 10px 1rem !important;
}

*{
  text-decoration: none;
}
.kyc_Message{
  margin: 0;
  font-weight: 500;
  color: #777;
  font-size: 1.15rem;
  width: 41%;
  max-width: 100%;
  min-width: 350px;
}

.faq-title{
  font-size: 1.1rem !important;
  color: #1a76d2;
}

.faq-desc{
  font-size: 1rem !important;
  color: #777;
}

.faq-wrapper {
  .css-n45pvu-MuiPaper-root-MuiAccordion-root:before {
    display: none;
  }
}

.table-row{
  width: 20%;
  min-width: 200px;
}
.form-select-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.variation-img-input{
  border: 1px solid #ccc;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}

.form-field-wrapper{
display: flex;
flex-direction: column;
gap: 14px;
}

.textArea{
  font-family: Poppins;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4375em;
    color: rgba(0, 0, 0, 0.87);
}